<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/styles/style.css' />
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,700,800,900,600,300,200,100' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="nav">
            <div class="nav-inner">
                <div class="logo"><img src="/images/logo.png"></div>
                <ul class="nav-items">
                    <li><a href="https://looklive.com/">Home</a></li>
                    <li><a href="https://looklive.com/discover/">Latest</a></li>
                    <li><a href="https://looklive.com/people/">People</a></li>
                    <li><a href="https://looklive.com/shows/">Shows</a></li>
                    <li><a href="https://looklive.com/music/">Music</a></li>
                    <li><a href="https://looklive.com/brands/">Brands</a></li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div class="header"><img src="/images/header.jpg"></div>

        <div class="inner-wrapper">
            {{{body}}}
        </div>
    </body>
</html>
